body, main {
    display: flex;
    transition: 0.4s ease-in-out;
}

body {
    flex-direction: column;
    background-color: #f7dada;
}

main {
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}